:root {
    --primaryColor: #fff;
    --navColor1: #ae0039;
    --navColor2: #00699a;
    --navColor3: #fdc700;
    --navColor4: #fd702b;
    --navColor5: #0c2433;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #000;
    font-family: "Nunito", sans-serif;
    letter-spacing: 1px;

}

/* --- Navigation Menu ------------------------------ */
/* Overlay */
.overlay {
    position: fixed;
    z-index: 9;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    transform: translateX(-100vw)
}

.overlay-slide-right {
    transform: translateX(0);
    transition: transform 0.5s linear;
}

.overlay-slide-left {
    transform: translateX(-100vw);
    transition: transform 0.5s linear;
}

/* Navigation Menu */
nav,
nav ul {
    list-style-type: none;
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav li a {
    position: relative;
    text-transform: uppercase;
    color: var(--primaryColor);
    text-align: center;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

nav li a::before {
    content: "";
    position: absolute;
    width: 25vw;
    height: 3px;
    top: 47.5%;
    left: 0;
    background-color: var(--primaryColor);
    opacity: 0;
}

nav li:hover a::before {
    opacity: 1;
}

nav li a:hover {
    transform: scale(1.2);
}

nav li:nth-of-type(1) {
    background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
    background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
    background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
    background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
    background-color: var(--navColor5);
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

nav ul li {
    cursor: pointer;
    height: 20%;
    overflow: hidden;
}

/* Slide in animation with delay for each item */
.slide-in-1 {
    animation: slideIn 0.5s linear forwards 0.2s;
}

.slide-in-2 {
    animation: slideIn 0.5s linear forwards 0.4s;
}

.slide-in-3 {
    animation: slideIn 0.5s linear forwards 0.6s;
}

.slide-in-4 {
    animation: slideIn 0.5s linear forwards 0.8s;
}

.slide-in-5 {
    animation: slideIn 0.5s linear forwards 1s;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.slide-out-1 {
    animation: slideOut 0.5s linear forwards 0.5s;
}

.slide-out-2 {
    animation: slideOut 0.5s linear forwards 0.4s;
}

.slide-out-3 {
    animation: slideOut 0.5s linear forwards 0.3s;
}

.slide-out-4 {
    animation: slideOut 0.5s linear forwards 0.2s;
}

.slide-out-5 {
    animation: slideOut 0.5s linear forwards 0.1s;
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 20;
    display: inline;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primaryColor);
}

section#home {
    background-image: url("https://images.unsplash.com/photo-1581453904507-626ddb717f14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
    background-size: cover;
    background-position: center center;
}

section#home a {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: 1.5rem;
    text-decoration: none;
    font-size: 0.8rem;
    padding-bottom: 5px;
    color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
}

section#about {
    background-color: var(--navColor2);
}

section#skills {
    background-color: var(--navColor3);
}

section#projects {
    background-color: var(--navColor4);
}

section#contact {
    background-color: var(--navColor5);
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
    section#home a {
        top: 1rem;
        left: 1rem;
    }

    .menu-bars {
        top: 0.5rem;
        right: 1rem;
    }
}
